@charset "utf-8";


body{
   background-image: url(/final/img/20976DD5-BC2F-40A3-A9D2-EFDF997A2E3E.jpeg)/*,url(/final/img/8B3D6C6C-715B-4AA3-A107-A300D487E3A7.jpeg)*/;
   background-position: 100% 0;
    background-size:cover;
    background-color:rgba(270,275,250,0.8);
    background-blend-mode:lighten;
    background-repeat: no-repeat,no-repeat;


}

.text-1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin: 10px 0 10px 40%;
  font-size: 50px;
}

.text-1:before, .text-1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.text-1:before {
  left:0;
}
.text-1:after {
  right: 0;
}



ul, ol {
  color: black;
  border-top: solid #1e366a 1px;/*上のボーダー*/
  border-bottom: solid #1e366a 1px;/*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
  font-weight: bold;
    font-family:serif;
    text-shadow: 1px 1px 4px silver;
}

ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}


table{
    text-align: center;
    border-collapse: collapse;
    border: solid 2px black ;
    width: 850px;
}

table th {/*table内のthに対して*/
  padding: 10px;/*上下左右10pxずつ*/
    border: solid 1px black;
}

table td {/*table内のtdに対して*/
  padding: 3px 10px;/*上下3pxで左右10px*/
    border: solid 1px black;
}


.sarusima {
  margin-left: 3%;
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
　
}


.list-1{
    margin:1em 0;
    margin-left: 5%;
    margin-right: 50px;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.list-1:before, .list-1:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.list-1:before {left: 10px;}
.list-1:after {right: 10px;}
.list-1 p {
    margin: 0; 
    padding: 0;
}


.sarusima-2 {
  position: relative;
  color: black;
  background: #d0ecff;
  line-height: 1.4;
  padding: 0.25em 0.5em;
  margin: 2.5em 10% 0.5em 5%;
  border-radius: 0 5px 5px 5px;
  
}

.sarusima-2:after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
  font-weight: 900;
  content: '\f00c Check';
  background: #2196F3;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 3px 7px 1px;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em
}